<h1>All Customers</h1>
<p><%= link_to 'New Customer', 'customers/new' %> - <%= link_to 'Missing Emails', 'missing_email' %> - <%= link_to 'Alphabetized', 'alphabetized' %></p>
<% @customers.each do |customer| %>
	<%= render customer %>
<% end %>
